@page "/"
@namespace Gems.Enterprise.WebServer.ControlBoxPlayaround.Pages
@using CG.Blazor.Plugins
@using Gems.Enterprise.WebServer.ControlBoxPlayaround;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    @(Html.Raw(BlazorResources.RenderStyleSheetLinks()))
</head>
<body>
    <component type="typeof(App)" render-mode="Server" />
    @(Html.Raw(BlazorResources.RenderScriptTags()))
</body>
</html>